<html>
	<head>
		<title>Blog Posts</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
		<br>
		<div class="text-center">
			<h1 style="color:green;"> Blog Home Page </h1>
		</div>
		<br>

		<div class="container">
			{% for post in posts %}
			<h2> <a href="{%url 'viewpost' post.pk %}">{{ post.title }}</a> </h2>
			<p>  {{ post.text }}  </p>
			<div class="date">
				<p>{{ post.created_date }}</p>
			</div>
			<hr>
			{% endfor %}
		</div>
	</body>
</html>