<html>
	<head>
		<title>Blog Posts</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
	<br>
	<div class="text-center">
		<h1 style="color:green;"> Add New Post </h1>
	</div>
	<br>

	<div class="container">
    	<form method="POST" class="post-form">
    	{% csrf_token %}
    		<h4>Title:</h4>
    		<input type="text"  class="form-control" name="title" value="{{post.title}}">
    		<hr>

    		<h4>Post Content:</h4>
    		<p><textarea name="text" cols=80 rows=10>{{post.text}}</textarea></p>
        	<button type="submit" class="save btn btn-success">Save</button>
        	<button type="submit" class="save btn btn-danger" disabled>Delete</button>
		</form>
		</div>
		
		
	</body>
</html>

