<html>
	<head>
		<title>Blog Posts</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	</head>
	<body>
		<br>
		<div class="text-center">
			<h1 style="color:green;"> Click To Edit Post  </h1>
		</div>
		<br>

		<div class="container">
			<h2> <a href="{%url 'editpost' post.pk %}">{{post.title}}</a></h2>
			<p>{{post.text}}</p>
			<div class=date>
				<p>{{post.created_date}}</p>
			</div>
		</div>
	</body>
</html>

